mixin video(info)
    div 
        h4
           a(href=`/videos/${info.id}`)=info.title
    ul         
        li=info.description
        li=info.hashtags
        li #{info.createdAt} 
        li #{info.views} views